<div class='num posts-map posts {{view.likesHeat}}' title='{{view.title}}'>
  <a href="{{topic.topicUrl}}" class='posts-map badge-posts {{view.likesHeat}}'>{{number topic.replyCount noTitle="true"}} {{topic.repliesText}}</a>
</div>